Library/
Temp/
Logs/
UserSettings/
obj/
*.csproj
*.sln
.DS_Store
.vscode/
*.slnx
Assets/Resources/PerformanceTestRunInfo.json*
Assets/Resources/PerformanceTestRunSettings.json*
Assets/Settings/Build Profiles/
Assets/Settings/Build Profiles.meta
